@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');



/* --------------------------------------- HTML CSS */
html,
body {
  width: 100%;
  height: 100%;
}

body > footer {
    position: sticky;
    top: 100vh;
}
main {
  overflow-x: hidden;
  min-height: calc(100vh - 20vh);
}
aside.flash {
  margin-top: 200px;
  z-index: 1;
}
aside#hero-image {
  width: 100vw;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.carousel .carousel-item>img {
  height: 100vh;
}
.hero-callout {
  text-align: center;
  color: #17353B;
  background-color: rgba(250, 236, 217, 0.5);
}

.hero-review {
  background-color: #FAECD9;
  padding: 40px;
  color: #333;
  margin-top: 0;

}

.hero-review h6 {
  font-weight: 700;
  color: #17353B;
}

.hero-review img {
  border-radius: 15px;
  height: 500px;
  width: 350px;

}
.callout-btn {
  border: 2px solid #17353B;
  border-radius: 15px;
  padding: 10px;
  background-color: #17353B;
  transition: .5s;
  color: #FAECD9
}

.callout-btn:hover {
  background-color: #FAECD9;
  color: #17353B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Domine", serif;
  letter-spacing: 1.5px; 
  margin: 5px; 
}

p,
a,
button {
  font-family: "Questrial", sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* --------------------------------------- Logo*/
a.logo {
  width: 150px;
  height: 150px;
  background-size: 150px 140px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 4;
  margin-top: 2%;
}

/* --------------------------------------- NAVIGATION BAR*/

.custom-nav {
    background-color: #f3e0cb;
    z-index: 4;
    position: fixed;
    top: 0;
    padding: 0 50px;
    min-height: 12vh;
}
nav ul:not(.dropdown-content)>li>a {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: #720444;
    display: block;
    padding: 0 25px;
    cursor: pointer;
    margin-top: 15px;
}

nav ul:not(.dropdown-content)>li>a:hover:not(.active) {
    background-color: rgba(88, 126, 123, 0.4)
}
.nav-link:hover{
    background-color: #Fff3e0;
    color:#b8cf50;
}
.hovered {
    background-color: rgba(250,236,217, 0.4);
    color:#b8cf50;
}
  .mobile-menu nav ul:not(.dropdown-content)>li>a {
    color:#0e6107;
  }
  
  .mobile-menu nav ul:not(.dropdown-content)>li>a:hover{
    color:#b8cf50;
  }
  
  .mobile-nav {
    height: 0px;
  }
  
  .mobile-list {
    display: flex;
    flex-direction: column;
  }
  
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100vh;
    z-index: 3;
    background-color: #0e6107;
    transition: left .3s;
    display: none;
    padding-top: 70px;
    box-sizing: border-box;
  }
  .mobile-menu.open {
    margin-top: 50px;
    left: 70%;
    display: block;
  }
  nav ul:not(.dropdown-content)>li>a:hover:not(.active) {
    background-color: 0e6107(88, 126, 123, 0.4)
  }
  .nav-link:hover{
    background-color: #Fff3e0;
    color:#b8cf50;
  }
  .hovered {
    background-color: rgba(250,236,217, 0.4);
    color:#b8cf50;
  }
  
  /* inspired from The Great Wall of Gratitude https://github.com/VCGithubCode/Gratidudes */
  /* Mobile menu trigger button */
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 36px;
    height: 36px;
    margin-right: 15px;
    margin-top: 10px;
  }
  
  /* Trigger bars */
  .hamburger span {
    display: block;
    background: #708f96;
    width: 100%;
    height: 5px;
    transform-origin: center;
    transition: all 0.2s ease-in-out;
  }
  
  input:checked~.hamburger span:nth-child(1) {
    transform: translateY(11px) rotate(-45deg);
  }
  
  input:checked~.hamburger span:nth-child(2) {
    opacity: 0;
  }
  
  input:checked~.hamburger span:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }

  /* -------------------- Register Form */
.registerloginlink{
  margin: 6% 0 6% 0;
}
  /*  --------------------------------------- CONTACT PAGE */

#contact-image{
  width: 100vw;
  height: 100vh;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

#thank-you-feedback {
  display: none;
}

#no-card-display {
  display: none;
}
#contactForm, #regForm{
  margin-top: 15rem;
}
.custom-card {
  background-color: #eee6dc;
}

.footer-container {
  background-color: #02696d;
  bottom: 0;
  padding: 1rem;
  min-height: 30vh;
  color: #FAECD9;
}

ul.social-media-icons {
  padding-inline-start: 0px;
}


.social-media-icons li {
  list-style: none;
  display: inline-block;
  margin: 60px 0 10px 0;
}

.social-media-icons i {
  color: #FAECD9;
  font-size: 70px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
}

.link {
  text-decoration: underline;
  color: rgba(88, 126, 123, 0.6);
  font-weight: bolder;
}

iframe {
  width:100%;
  height:100%;
  border-radius: 15px;
  border:#004d40 ;
}
