@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* --------------------------------------- HTML CSS */
/* --------------------------------------- MAIN */
html,
body {
  width: 100%;
  height: 100%;
}
body>footer {
  position: sticky;
  top: 100vh;
}
main {
  overflow-x: hidden;
  min-height: calc(100vh - 20vh);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 1.5px;
  margin: 5px;
}
p,
a,
button {
  font-family: "Questrial", sans-serif;
  font-weight: 200;
  font-style: normal;
}
/*----------------------------------------Footer--*/
.footer-container {
  background-color: #026340;
  bottom: 0;
  padding: 1rem;
  min-height: 30vh;
  color: #FAECD9;
}
.white-text{
  margin-top: 10%;
}
.footer-copyright{
  background-color: black;
}
ul.social-media-icons {
  padding-inline-start: 0px;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 15px; 
}
/* ------------------------------------ NAVIGATION BAR*/
nav {
  color: initial; /* Resets to the browser's default */
  background-color: initial;
}

.custom-nav {
  background-color: #675e54a5;
  z-index: 4;
  position: fixed;
  top: 0;
  padding: 0 50px;
  min-height: 12vh;
}
nav ul:not(.dropdown-content)>li>a {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  color: white;
  display: block;
  padding: 0 25px;
  cursor: pointer;
  margin-top: 20px;
}
.dropdown-content {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  background-color: black;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.dropdown-content>li>a {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
nav ul:not(.dropdown-content)>li>a:hover:not(.active) {
  background-color: transparent;
  text-decoration: underline;
  color: white; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%; 
  width: 50%; 
  height: 100vh;
  z-index: 3;
  background-color: #675e54a5;
  transition: left 0.3s ease; 
  padding-top: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding-left: 20px; 
}
.mobile-menu.open {
  left: 50%; /* Slide to cover half the screen */
}
.mobile-menu nav ul {
  list-style: none;
  padding: 0; 
  margin: 0; 
  width: 100%; 
  display: flex;
  flex-direction: column; 
  font-size: 1.5rem;
}
.mobile-menu nav ul li {
  width: 100%;
  display: block; 
}
.mobile-menu nav ul li a {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  color: white; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-decoration: none; 
  display: block;
  width: 100%; 
  padding: 10px 0; 
}

/* Copied Idea from Mika(code institute, co-student */
/* Mobile menu trigger button */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 45px;
  height: 36px;
  margin-right: 10px;
  margin-top: 25px;
}
/* Trigger bars */
.hamburger span {
  display: block;
  background: white;
  width: 100%;
  height: 5px;
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}
input:checked~.hamburger span:nth-child(1) {
  transform: translateY(11px) rotate(-45deg);
}
input:checked~.hamburger span:nth-child(2) {
  opacity: 0;
}
input:checked~.hamburger span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}
.flash {
  position: fixed;
  margin-top: 5%;
  margin-left: 42%;
  z-index: 1000;  /* Make sure it’s above all other content */
  padding: 15px 0;
  text-align: center;
  color: #000;  /* Dark text for visibility */
}
/* --------------------------------------- Logo*/
a.brand-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: 150px 150px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 4;
  margin-top: 2%;
}
/*---------------------------Index-------*/
.carousel .carousel-item>img {
  height: 100vh;
}
.full-height {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.hero-callout {
  text-align: center;
  background-color: rgba(60, 60, 60, 0.5);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.hero-callout h5{
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hero-callout p {
  font-size: 1.2rem;
  line-height: 1.5; 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.responsive-img{
  margin-right: 15%;
  margin-left: 20%;
}
/* Custom green button */
.green-btn {
  background-color: #133915;
  color: white; 
  padding: 10px 20px; 
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.green-btn:hover {
  background-color: #043407;
}
.review-container {
  display: flex;
  align-items: center; 
  gap: 15px; 
  margin-top: 10%;
}
.hero-review {
  margin-top: 5%;
}
.review-image {
  flex-shrink: 0; 
  max-width: 250px; 
}
.oval-image {
  border-radius: 50%; 
  width: 200px;
  height: 200px; 
  object-fit: cover;
}
.review-content {
  flex-grow: 1; 
}
.review-container p {
  margin: 10px 30px 10px 30px; 
}
.review-container em {
  font-style: italic;
  color: gray;
  margin-left: 30px;
  font-weight: bolder;
}
/*  --------------------------------------- CONTACT PAGE */
#contact-image {
  background-image: url('../images/contact.jpg'); /* Replace with your image URL */
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /* Ensure content is on top of the background */
}
.contact-card {
  border-radius: 8px;
  padding: 30px;
  background-color: rgba(123, 117, 117, 0.615);
}
.contact-card label{
  font-weight: 900;
}
.card h4 {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-weight: 900;
  margin-top: 5%;
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}
.thank-you-card {
  margin-top: 30%;
  background-color: #fffde7; /* Light cream color */
  width: 600px;
}
.card-content p {
  margin-top: 10px;
}
/* ---------------------------- Register Form */
 /* Full Page Background */
 #registerImage {
  background-image: url('../images/contact.jpg'); 
  background-size: cover; 
  background-position: center center; 
  background-attachment: fixed;   
  position: relative;
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}   
.reg-card {
  background-color: #c7cacf3b; 
  border-radius: 20px;
  padding: 20px; 
  max-width: 1200px; 
  margin: 0% auto; 
  box-sizing: border-box;
}
#regForm label{
  font-weight: 900;
}
.highlight-text {
  color: #fff; 
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}
.already-reg p, a{
  font-weight: 900;
}
.loginlink{
  color: red;
}
/* -------------------------- Login Form */
#loginImage {
  width: 100vw;
  height: 110vh;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.loginHeader>h4 {
  color: #eaeeed;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}
.logincard {
  margin-top: 28%;
  background-color: rgba(155, 151, 151, 0.621);
}
.loginlabel {
  font-weight: 900;
}
.newHere>p {
  color: rgb(240, 6, 6);
  font-weight: 700;
}
.newHere>p>a {
  color: blanchedalmond;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}
.newHere>p>a:hover {
  color: rgb(247, 10, 10);
  font-weight: 700;
}
/*  --------------------------------------- PROFILE & USER DETAILS PAGE*/
#profileImage {
  width: 100vw;
  height: 110vh;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.profileHeader>h3 {
  margin-top: 15rem;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.profileHeader>h5 {
  color: yellow;
  font-weight: 800;
}
.userdeats>h5 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: black;
}
.buts>a {
  margin-top: 18%;
  margin-left: 5%;
  font-weight: 700;
}
.newTravelHeader h5{
  margin-top: 2%;
  color: rgb(3, 75, 75);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  text-transform: capitalize;
}
.newTraveldeats>h6>span {
  margin-top: 15%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: #5f6160;
  text-transform: capitalize;
}
.newTraveldeats>h6 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
.userdetailscard{
  background-color: rgba(128, 128, 128, 0.544);
}
/*  --------------------------- Travel Req */
#travelImage {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/inside.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.travelHeader>h3 {
  color: green;
  font-weight: 700;
}

.travelHeader>h5 {
  margin-top: 2%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  font-weight: 800;
}

.custom-card-travel {
  background-color: rgba(93, 91, 88, 0.445);
}
/*  ------------------------- NEW TRVEL REQ PAGE */
.username-heading {
  position: absolute;
  top: 10%; 
  right: 80%; 
  transform: translateY(-50%); 
  z-index: 10;
  color: black !important; 
}
.newTravelHeader{
  margin-top: 15%;
}
.travel-card {
  background-color: #f3e0cbab;
  margin-top: 2%;
  width: 100%;
}

.travel-card>h6>span {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
}
.card-panel {
  padding: 20px;
  overflow: hidden; /* Ensures content doesn't overflow outside the card */
}

.newTraveldeats h6 {
  word-wrap: break-word;
  overflow-wrap: break-word; 
  white-space: normal; 
}
.userdeats h5{
  word-wrap: break-word;
  overflow-wrap: break-word; 
  white-space: normal; 
}
/*----------------------------- USER FUNCTION/UPDATE DETAILS CARD */
.updatedetails{
  margin-top: 12%;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}
#regFormUPDATE{
  background-color: rgba(113, 112, 111, 0.63);
}
#regFormUPDATE h5{
  font-weight: 900;
}
.back2profile p{
  font-weight: 900;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}
.back2profile a{
  color: red;
}
/*----------------------------- USER FUNCTION/UPDATE REQ CARD */
.updatecard{
  margin-top: 25%;
  margin-bottom: 10%;
}
.updatecard label{
  font-weight: bolder;
}
button {
  margin-top: 2%;
}
/*  --------------------------------------- PASSWORD CHANGE */
#changepass {
  margin-top: 20%;
  background-color: #f3e0cb;
}
/*  --------------------------------------- MANAGE USERS */
.manageusersHeader{
  margin-top: 25%;
  margin-bottom: 0;
}
.manageusersCard{
  margin-bottom: 2%;
  background-color: #f3e0cb;
}
.backdashMU{
  margin-bottom: 3%;

}
