@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');



/* --------------------------------------- HTML CSS */
/* --------------------------------------- MAIN */
html,
body {
  width: 100%;
  height: 100%;
}

body>footer {
  position: sticky;
  top: 100vh;
}

main {
  overflow-x: hidden;
  min-height: calc(100vh - 20vh);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Shadows Into Light', 'Arial Narrow', Arial, cursive;
  letter-spacing: 1.5px;
  margin: 5px;
}

p,
a,
button {
  font-family: "Questrial", sans-serif;
  font-weight: 200;
  font-style: normal;
}

/*-----------------Footer--*/
.footer-container {
  background-color: #02696d;
  bottom: 0;
  padding: 1rem;
  min-height: 30vh;
  color: #FAECD9;
}

ul.social-media-icons {
  padding-inline-start: 0px;
}

.social-media-icons li {
  list-style: none;
  display: inline-block;
  margin: 60px 0 10px 0;
}

.social-media-icons i {
  color: #63E6BE;
  font-size: 70px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 30px;
}

.social-media-icons i:hover {
  color: #11100e00;
}

.errorFlash>.h6 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
}

/* --------------------------------------- NAVIGATION BAR*/
.custom-nav {
  background-color: #f3e0cb;
  z-index: 4;
  position: fixed;
  top: 0;
  padding: 0 50px;
  min-height: 12vh;
}

nav ul:not(.dropdown-content)>li>a {
  font-size: 1.5rem;
  font-family: 'Shadows Into Light', 'Arial Narrow', Arial, cursive;
  font-weight: bolder;
  color: #720444;
  display: block;
  padding: 0 25px;
  cursor: pointer;
  margin-top: 15px;
}

.dropdown-content {
  font-size: 1.5rem;
  font-family: 'Shadows Into Light', 'Arial Narrow', Arial, cursive;
  font-weight: bolder;
  color: #720444;
  background-color: #f3e0cb8f;
}

.dropdown-content>li>a {
  font-size: 1.5rem;
  font-family: 'Shadows Into Light', 'Arial Narrow', Arial, cursive;
  font-weight: bolder;
  color: #720444;
}

.mobile-menu nav ul:not(.dropdown-content)>li>a:hover {
  color: #17353B;
}

nav ul:not(.dropdown-content)>li>a:hover:not(.active) {
  background-color: rgba(88, 126, 123, 0);
  text-decoration: underline;
  text-decoration-color: #333;
}

.mobile-nav {
  height: 0px;
}

.mobile-list {
  display: flex;
  flex-direction: column;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 50%;
  height: 100vh;
  z-index: 3;
  background-color: #f3e0cb91;
  transition: left .3s;
  display: none;
  padding-top: 70px;
  box-sizing: border-box;
}

.mobile-menu.open {
  margin-top: 50px;
  left: 70%;
  display: block;
}

/* Copied Idea from Mika(code institute, co-student */
/* Mobile menu trigger button */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 50px;
  height: 36px;
  margin-right: 10px;
  margin-top: 35px;
}

/* Trigger bars */
.hamburger span {
  display: block;
  background: #17353b;
  width: 100%;
  height: 5px;
  transform-origin: center;
  transition: all 0.2s ease-in-out;
}

input:checked~.hamburger span:nth-child(1) {
  transform: translateY(11px) rotate(-45deg);
}

input:checked~.hamburger span:nth-child(2) {
  opacity: 0;
}

input:checked~.hamburger span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/* --------------------------------------- Logo*/
a.brand-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: 150px 150px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 4;
  margin-top: 2%;
}

/*----------------------Index-------*/
aside#hero-image {
  width: 100vw;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.carousel .carousel-item>img {
  height: 100vh;
}

.hero-callout {
  text-align: center;
  color: #17353B;
  background-color: rgba(250, 236, 217, 0.5);
  margin-bottom: 30%;
}

.callout-btn {
  border: 2px solid #17353B;
  border-radius: 15px;
  padding: 10px;
  background-color: #17353B;
  transition: .5s;
  color: #FAECD9
}

.callout-btn:hover {
  background-color: #f4fad900;
  color: #17353B;
}

.hero-review {
  background-color: #FAECD9;
  padding: 40px;
  color: #333;
  margin-top: 5%;
}

.hero-review h6 {
  font-weight: 700;
  color: #17353B;
  margin-top: 10%;
}
.hero-review1 h6 {
  font-weight: 700;
  color: #17353B;
  margin-top: 10%;
}

.hero-review img {
  border-radius: 15px;
  height: 420px;
  width: 350px;
}

/*  --------------------------------------- CONTACT PAGE */
#contact-image {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

#thank-you-feedback {
  display: none;
}

#no-card-display {
  display: none;
}

.custom-card {
  background-color: #dbc2eb00;
}

#contactForm {
  margin: 15rem;
  color: #eaeeed;
  margin-bottom: 0;
}

.contactHere>p {
  color: rgb(240, 6, 6);
  font-weight: 700;
}

.contactHere>p>a {
  color: blanchedalmond;
  font-weight: 700;
  text-decoration: underline;
}

.contactHere>p>a:hover {
  color: rgb(247, 10, 10);
  font-weight: 700;
  text-decoration: underline;
}

.btncont:hover {
  color: black;
}

/* -------------------- Register Form */
#registerImage {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.regHeader h4{
  margin-top: 15%;
  color: #eaeeed;
  margin-bottom: 0;
  text-align: center;
  font-weight: 700;
}
.regHeader h6{
  color: #08a57e;
  background-color: #5f61608c;
  margin-bottom: 0;
  text-align: center;
  font-weight: 800;
}

.loginHere>p {
  color: rgb(240, 6, 6);
  font-weight: 700;
}

.loginHere>p>a {
  color: blanchedalmond;
  font-weight: 700;
  text-decoration: underline;
}

.loginHere>p>a:hover {
  color: rgb(247, 10, 10);
  font-weight: 700;
  text-decoration: underline;
}

btn:hover {
  color: rgba(0, 0, 0, 0);
}

/* -------------------- Login Form */
#loginImage {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.loginHeader>h3 {
  margin-top: 15rem;
  color: #eaeeed;
}

.newHere {
  margin-top: 10rem;
  margin-bottom: 0;
}

.newHere>p {
  color: rgb(240, 6, 6);
  font-weight: 700;
}

.newHere>p>a {
  color: blanchedalmond;
  font-weight: 700;
  text-decoration: underline;
}

.newHere>p>a:hover {
  color: rgb(247, 10, 10);
  font-weight: 700;
  text-decoration: underline;
}

/*  --------------------------------------- PROFILE */
#profileImage {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}
.profileHeader>h3 {
  margin-top: 15rem;
  color: white;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profileHeader>h5 {
  color: yellow;
  font-weight: 800;
}

.userdeats>h5 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: rgb(17, 17, 17);
}

.buts>a {
  font-weight: 700;
}
.newTravelHeader h3{
  margin-top: 18%;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  text-transform: capitalize;
}
.newTravelHeader h5{
  margin-top: 2%;
  color: rgb(3, 75, 75);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
  text-transform: capitalize;
}
.newTraveldeats>h6>span {
  margin-top: 15%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: #5f6160;
  text-transform: capitalize;
}

.newTraveldeats>h6 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

/*  --------------------------------------- Travel Req */
#travelImage {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/inside.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.travelHeader>h3 {
  color: green;
  font-weight: 700;
}

.travelHeader>h5 {
  margin-top: 2%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #720444;
  font-weight: 800;
}

.custom-card-travel {
  background-color: rgba(245, 222, 179, 0.596);
}

/*  --------------------------------------- NEW TRVEL REQ */
.travel-card {
  background-color: #f3e0cbab;
  margin-top: 2%;
}

.travel-card>h6>span {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 800;
}

/*  --------------------------------------- PASSWORD CHANGE */
#changepass {
  margin-top: 20%;
  background-color: #f3e0cb;
}
/*  --------------------------------------- PASSWORD CHANGE */
.manageusersCard{
  background-color: #f3e0cb;
}
/*------Media Queries-----*/
@media only screen and (min-width: 200px) and (max-width: 767px)  {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  body>footer {
    position: sticky;
    top: 100vh;
  }
  
  main {
    overflow-x: hidden;
    min-height: calc(100vh - 20vh);
  }
  /*---NAVBAR */
  .custom-nav {
    background-color: #f3e0cb;
    z-index: 4;
    position: fixed;
    top: 0;
    padding: 0 50px;
    min-height: 5vh;
  }
  nav ul:not(.dropdown-content)>li>a {
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: #720444;
    display: block;
    padding: 0 25px;
    cursor: pointer;
    margin-top: 15px;
  }
  .mobile-nav {
    height: 0px;
  }
  .mobile-list {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 100%;
    width: 150%;
    height: 100vh;
    background-color: #f3e0cbd5;
    display: none;
    padding-top: 50px;
    box-sizing: border-box;
  }
  .mobile-menu.open {
    margin-top: 50px;
    left: 30%;
    display: block;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 1px;
    margin-top: 25px;
  }
  .hamburger span {
    display: block;
    background: #17353b;
    width: 100%;
    height: 5px;
    transform-origin: center;
    transition: all 0.2s ease-in-out;
  }
  input:checked~.hamburger span:nth-child(1) {
    transform: translateY(11px) rotate(-45deg);
  }
  input:checked~.hamburger span:nth-child(2) {
    opacity: 0;
  }
  input:checked~.hamburger span:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }
  /* ---- Logo*/
  a.brand-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: 100px 100px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 5%;
  }
  /*-----Index*/
  .hero-callout h5{
    text-align: center;
    font-size: medium;
  }
  .hero-callout {
    text-align: center;
    color: #17353B;
    background-color: rgba(250, 236, 217, 0.5);
    margin-bottom: 30%;
    font-size: small;
  }
  .callout-btn {
    border: 2px solid #17353B;
    border-radius: 15px;
    padding: 5px;
    background-color: #17353B;
    transition: .5s;
    color: #FAECD9;
    font-size: x-small;
  }
  .callout-btn:hover {
    background-color: #f4fad900;
    color: #17353B;
  }
  .hero-review h6 {
    width: 100%;
    font-size: x-small;
    margin-bottom: 5%;
  }
  .hero-review em {
    width: 100%;
    font-size: small;
  }
  .hero-review img {
    display: none;
  }
  aside.flash {
    margin-top: 35px;
  }
  /*-----------------Footer--*/
  .footer-container {
    background-color: #025658;
    bottom: 0;
    padding: 1rem;
    min-height: 20vh;
    color: #FAECD9;
  }
  ul.social-media-icons {
    padding-inline-start: 0px;
  }
  .social-media-icons li {
    list-style: none;
    display: inline-block;
    margin: 30px 0 5px 0;
  }
  .social-media-icons i {
    color: #63E6BE;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
  }
  .copyright p{
    font-size: smaller;
  }
  .getintouch h5{
    font-size: medium;
  }
  .reverse-btn{
    font-size: small;
  }
  /* -------------------- Register Form */
  #registerImage {
    width: 100vw;
    height: 150vh;
    background-image: url(../images/contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .regHeader h4{
    margin-top: 40%;
    color: #eaeeed;
    font-size: large;
  }
  .regHeader h6{
    color: #eaeeed;
    font-size: small;
    margin-top: 1%;
  }
  .loginHere>p {
    color: rgb(240, 6, 6);
    font-weight: 500;
    font-size: small;
  }
  .loginHere>p>a {
    color: blanchedalmond;
    font-weight: 500;
    text-decoration: underline;
    font-size: small;
  }
  .loginHere>p>a:hover {
    color: rgb(247, 10, 10);
    font-weight: 600;
    text-decoration: underline;
  }
  .btn{
    font-size: xx-small;
    text-align: center;
  }
  btn:hover {
    color: rgba(0, 0, 0, 0);
  } 
  /*  --------------------------------------- CONTACT PAGE */
  #contact-image {
    width: 100vw;
    height: 125vh;
    background-image: url(../images/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  #thank-you-feedback {
    display: none;
  }
  #no-card-display {
    display: none;
  }
  .custom-card {
    background-color: #dbc2eb00;
  }
  #contactForm {
    margin: 40%;
    color: #eaeeed;
    margin-bottom: 0;
    font-size: medium;
    width: 80vw;
    margin-left: 5%;
    margin-top: 30%;
  }
  .contactHere>p {
    color: rgb(240, 6, 6);
    font-weight: 600;
    font-size: small;
  }
  .contactHere>p>a {
    color: blanchedalmond;
    font-weight: 600;
    text-decoration: underline;
    font-size: small;
  }
  .contactHere>p>a:hover {
    color: rgb(247, 10, 10);
    font-weight: 600;
    text-decoration: underline;
    font-size: small;
  }
  .btncont:hover {
    color: black;
  }
  /* -------------------- Login Form */
  #loginImage {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .loginHeader>h3 {
    margin-top: 40%;
    color: #eaeeed;
    font-size: larger;
    font-weight: 700;
  }
  .loginHeader>h5 {
    margin-top: 1%;
    color: #eaeeed;
    font-size: medium;
    font-weight: 700;
  }
  .newHere {
    margin-top: 2%;
    margin-bottom: 0;
    font-size: small;
  }
  .newHere>p {
    color: rgb(240, 6, 6);
    font-weight: 700;
    font-size: small;
  }

  .newHere>p>a {
    color: blanchedalmond;
    font-weight: 700;
    text-decoration: underline;
  }

  .newHere>p>a:hover {
    color: rgb(247, 10, 10);
    font-weight: 700;
    text-decoration: underline;
  }    
  /*  --------------------------------------- PROFILE */
  #profileImage {
    width: 100vw;
    height: 90vh;
    background-image: url(../images/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .profileHeader>h3 {
    margin-top: 40%;
    color: white;
    font-weight: 600;
    font-size: x-large;
  }
  .profileHeader>h5 {
    margin-top: 2%;
    color: yellow;
    font-weight: 600;
    font-size: large;
  }
  .userdeats>h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(14, 13, 13);
    font-size: medium;
  }
  .buts>a {
    margin-left: 5%;
    font-weight: 700;
  }
  .newTravelHeader h3{
    margin-top: 40%;
    font-size: x-large;
    color: black;
    text-transform: capitalize;
    font-weight: 600;
  }
  .newTravelHeader h5{
    margin-top: 2%;
    font-size: large;
    color: rgb(2, 71, 71);
    text-transform: capitalize;
    font-weight: 600;
  }
  .newTraveldeats>h6>span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #5f6160;
    text-transform: capitalize;
    font-size: small;
  }
  .newTraveldeats>h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: small;
  }
  .travel-card h5{
    font-size: small;
    margin-top: 2%;
  }
  .travel-card .btn{
    font-size: smaller;
    margin-top: 2%;
  }
  .adminHeader h4{
    margin-top: 10%;
    font-size: larger;
  }
  /*----ADMIN */
  .manageusersHeader h4{
    margin-top: 15%;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
  }
  .manageusersCard h5{
    margin-top: 5%;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
  }
  .manageusersCard .btn .material-icons{
    font-size: small;
  }
  .managereqHeader h4{
    margin-top: 15%;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
  }

}
@media only screen and (min-width: 767px) and (max-width: 1024px)  {



}
