<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A travel web app that offers personal travel packages apart from accommodation and flights">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.4/dist/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media-queries.css') }}" type="text/css">
    <title>Experience Croatia</title>
</head>

<body>
    <header>
        <nav class="custom-nav">
            <a href="{{ url_for('index') }}" class="brand-logo center shadows-into-light-regular" aria-label="Homepage">Pula Croatia</a>
            <ul class="right hide-on-med-and-down">
                {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li>
                    <a class="dropdown-trigger" href="#" data-target="manage_account">
                        <i class="fas fa-users-cog"></i>&nbsp;Manage Account <i class="fas fa-caret-down"></i>
                    </a>
                </li>
                {% else %}
                <li><a href="{{ url_for('contact') }}">Contact us</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
            </ul>

            <ul id="manage_account" class="dropdown-content">
                <li><a href="{{ url_for('changepass') }}">Change Password</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>

            <input id="mobile-menu-toggle" type="checkbox" aria-label="Toggle mobile menu">
            <label class="hamburger right hide-on-large-only" for="mobile-menu-toggle" aria-label="Open mobile menu">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </nav>

        <div class="mobile-menu hide-on-large-only">
            <nav class="mobile-nav">
                <ul>
                    {% if session.user %}
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="mobile-manage-account">
                            <i class="fas fa-users-cog"></i>&nbsp;Manage Account <i class="fas fa-caret-down"></i>
                        </a>
                    </li>
                    {% else %}
                    <li><a href="{{ url_for('contact') }}">Contact us</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    {% endif %}
                </ul>
                {% if session.user %}
                <ul id="mobile-manage-account" class="dropdown-content">
                    <li><a href="{{ url_for('changepass') }}">Change Password</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                </ul>
                {% endif %}
            </nav>
        </div>        
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer class="footer-container lighten-1">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <h5 class="white-text">Get in touch with us!</h5>
                    <a href="{{ url_for('contact') }}" class="btn waves-effect waves-light teal darken-2">Contact us</a>
                </div>
                <div class="col s12 m6">
                    <h5 class="white-text">Follow us</h5>
                    <div class="social-media-icons center">
                        <a href="https://facebook.com/" target="_blank" aria-label="Facebook" class="btn-floating btn-small waves-effect waves-light #3b5998"><i class="fab fa-facebook-f fa-lg"></i></a>
                        <a href="https://instagram.com/" target="_blank" aria-label="Instagram" class="btn-floating btn-small waves-effect waves-light #E4405F"><i class="fab fa-instagram fa-lg"></i></a>
                        <a href="https://github.com/" target="_blank" aria-label="GitHub" class="btn-floating btn-small waves-effect waves-light #333"><i class="fab fa-github fa-lg"></i></a>
                        <a href="https://linkedin.com/" target="_blank" aria-label="LinkedIn" class="btn-floating btn-small waves-effect waves-light #0077b5"><i class="fab fa-linkedin-in fa-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center-align white-text">
                <p>This website is solely for educational purposes and not for monetary transactions.</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.4/dist/js/materialize.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    {% block javascript %}

    {% endblock %}
</body>

</html>
