
{% extends "base.html" %}
{% block content %}
    {% if session.user != "systemadmin" %}
    <aside id="profileImage">
        {% endif %}
        <div class="row">
            {% for users in users %}
            <div class="col s12 m8 offset-m2 profileHeader">
                {% if session.user != "systemadmin" %}
                <!-- Username heading -->
                <h3 class="center-align">
                    Hey " {{ users.name }} "
                </h3>
                {% else %}
                <!-- Username heading -->
                <h3 class="center-align">
                    Hello Admin &nbsp;<i class="far fa-id-badge fa-lg" style="color: #399905;"></i>
                </h3>
                {% endif %}
            </div>
            <aside class="container flash">
                <!-- flash messages -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="row flashes ">
                    <div class="col s12 center errorFlash">
                        <b><h6 class="red-text text-accent-4" style="font-size: x-large; font-weight: 700; letter-spacing: 3px;">{{ message }}</h6></b>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </aside>   
        </div>
        <br>
        <br>
        <div class="container page-container">
            <div class="row">
                <div class="col s12 m8 offset-m2 card-panel custom-card travel-card" style="background-color:rgba(255, 228, 196, 0.651);">
                    {% if username == "systemadmin" %}
                    <div class="row">
                        <div class="col s12 ">
                            <h5><span> Created by:</span></h5>
                            <h5>{{ users.name }}</h5>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s12 m6 userdeats">
                                    <h5>Name  :</h5>
                                </div>
                                <div class="col s12 m6 userdeats">
                                    <h5>{{ users.name }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 userdeats">
                                    <h5>Username   :</h5> 
                                </div>
                                <div class="col s12 m6 userdeats">
                                    <h5>{{ users.username }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 userdeats">
                                    <h5>Phone Number  :</h5> 
                                </div>
                                <div class="col s12 m6 userdeats">
                                    <h5>{{users.number }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 userdeats">
                                    <h5>E-mail  :</h5>
                                </div>
                                <div class="col s12 m6 userdeats">
                                    <h5>{{users.email}}</h5>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <br>
                    <br>
                    <!--Buttons-->
                    <!-- Edit button -->
                    <div class="row">
                        <div class="col s12 m4 buts">
                            <a href="{{ url_for('profile', username=session['user']) }}"
                                class="btn icon-left waves-effect waves-light teal darken-4 white-text text-lighten-4"><i
                                    class="material-icons">arrow_back</i><small>Back to Dashboard</small></a>
                            <a href="{{ url_for('update', users_id=users._id) }}"
                                class="btn icon-left waves-effect waves-light blue lighten-2 white-text text-lighten-4">
                                    <i class="material-icons">edit</i><small>Update</small></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if session.user != "systemadmin" %}
    </aside>
    {% endif %}
{% endblock %}
<!-- Script tags -->
{% block javascript %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        displayCard();
    });

    function displayCard() {
        const Properties = document.querySelectorAll(".travel-card");

        if (Properties.length == 0) {
            noCardDisplayCard.style.display = "block";
        } else {
            noCardDisplayCard.style.display = "none";

        }
    }
</script>

{% endblock %}
