{% extends "base.html" %}
{% block content %}
    {% if session.user != "systemadmin" %}
    <div class="conatainer page-container">
        {% endif %}
        <div class="row">
            <div class="col s12 m8 offset-m2 profileHeader">
                {% if session.user != "systemadmin" %}
                <!-- Username heading -->
                <h3 class="center-align">
                    Hey " {{name}} "
                </h3>
                <br>
                <h5 class="center-align">Excited to find out what we have in store for you? <br> send a request now! Click
                    the button below</h5>
                {% else %}
                <!-- Username heading -->
                <h3 class="center-align">
                    Hello Admin &nbsp;<i class="far fa-id-badge fa-lg" style="color: #399905;"></i>
                </h3>
                {% endif %}
            </div>
        </div>
        <div class="container page-container">
            <div class="row">
                {% for travel_info in travel_info %}
                <div class="col s12 card-panel custom-card travel-card">
                    {% if username == "systemadmin" %}
                    <div class="row">
                        <div class="col s12">
                            <h6><span> Created by: </span>{{travel_info.username}}</h6>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col s12 m6">
                            <!-- Travel Dates -->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>TRAVEL DATES  :</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.travel_dates }}</h6>
                                </div>
                            </div>       
                        </div>
                        <div class="col s12 m6">
                            <!-- Travel flexibility -->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>DATES FLEXIBLE?:</span></h6>        
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{travel_info.flexible_dates }}</h6>        
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- include flights -->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>INCLUDE FLIGHT?:</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.include_flights }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- departing port -->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>PREFERRED DEPARTURE PORT:</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.flying_from }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- Number of adult guests -->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>NUMBER OF ADULT GUESTS:</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.number_adult_guests }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- Number of child guests -->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>NUMBER OF CHILDREN GUESTS:</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.number_kids_guests }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- accommodation-->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>PREFERRED ACCOMMODATION :</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.preferred_accom }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- room-->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>NUMBER OF ROOMS:</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.number}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- concerts -->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>INCLUDE CONCERTS?:</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.concerts }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- guide -->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>INCLUDE PERSONAL TRAVEL GUIDE?:</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.guide }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- activity -->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>INCLUDE ACTIVITIES?:</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.activity }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- CONTACT BY -->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>PREFERRED CONTACTED THROUGH:</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.contact }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6">
                            <!-- ADDITIONAL INFO -->
                            <div class="row">
                                <div class="col s12 m6 newTraveldeats">
                                    <h6><span>MESSAGE/ADDITIONAL INFORMATION:</span></h6>
                                </div>
                                <div class="col s12 m6 newTraveldeats">
                                    <h6>{{ travel_info.message }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <!--Buttons-->
                    <!-- Edit button -->
                    <div class="row">
                        <div class="col s12 m4 buts">
                            <a href="{{ url_for('profile', username=session['user']) }}"
                                class="btn icon-left waves-effect waves-light teal darken-4 white-text text-lighten-4"><i
                                    class="material-icons">arrow_back</i><small>Back to Dashboard</small></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
<!-- Script tags -->
{% block javascript %}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        displayCard();
    });

    function displayCard() {
        const Properties = document.querySelectorAll(".travel-card");

        if (Properties.length == 0) {
            noCardDisplayCard.style.display = "block";
        } else {
            noCardDisplayCard.style.display = "none";

        }
    }
</script>

{% endblock %}