{% extends "base.html" %}

{% block content %}
<aside class="container flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
        <div class="col s12 m4 offset-m3 card-panel red accent-4 rounded center">
            <h6 class="orange-text text-lighten-4">{{ message }}</h6>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</aside>
<div class="page-container">
    <div class="row">
        <div class="col s12 m8 offset-m2 newTravelHeader" >
            {% if username == "systemadmin" %}
            <!-- Admin Header -->
            <h4 class="center-align teal-text text-darken-4">
                Hello Admin, Some new requests for you today! Shall we start?
            </h4>
            {% else %}
            <!-- User Header -->
            <h5 class="username-heading" id="usernameNT">
                Welcome {{ name }},
            </h5>
            <h5 class="center-align" id="usertravel">Here are your requests:</h5>
            {% endif %}
        </div>
    </div>

    <!-- Back Button -->
    <div class="row">
        <div class="col s12 m4 offset-m2" id="NTbackbtn">
            <a href="{{ url_for('profile', username=username) }}"
                class="btn btn-small icon-left waves-effect waves-light teal darken-4">
                <i class="material-icons">arrow_back</i>
                <small>Back to Dashboard</small>
            </a>
        </div>
    </div>

    <!-- Travel Requests -->
    <div class="container page-container">
        <div class="row">
            {% for travel_info in travel_info %}
            <div class="col s12 card-panel custom-card travel-card">
                <!-- Travel Information -->
                <div class="row">
                    <div class="col s12 m6">
                        <!-- Travel Dates -->
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>TRAVEL DATES :</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{ travel_info.travel_dates }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- Travel flexibility -->
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>DATES FLEXIBLE?:</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{travel_info.flexible_dates }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- departing port -->
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>DEPARTURE AIRPORT:</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{ travel_info.flying_from }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- Number of adult guests -->
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>ADULT GUESTS:</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{ travel_info.number_adult_guests }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- Number of child guests -->
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>CHILD GUESTS:</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{ travel_info.number_kids_guests }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- accommodation-->
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>ACCOMMODATION :</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{ travel_info.preferred_accom }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- room-->
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>ROOMS:</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{ travel_info.rooms}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- concerts -->
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>CONCERTS?:</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{ travel_info.concerts }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- water_sports -->
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>WATER SPORTS?:</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{ travel_info.water_sports }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- CONTACT BY -->
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>EMAIL:</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{ travel_info.email }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>PHONE:</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{ travel_info.phone }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- Time Stamp -->
                        <div class="row">
                            <div class="col s12 m6 newTraveldeats">
                                <h6><span>DATE CREATED:</span></h6>
                            </div>
                            <div class="col s12 m6 newTraveldeats">
                                <h6>{{ travel_info.date }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Action Buttons -->
                <div class="row">
                    {% if username != "systemadmin" %}
                    <!-- Update Button (Only for Users) -->
                    <div class="col s12 m6" id="update">
                        <a href="{{ url_for('updateTravel', id=travel_info._id) }}"
                            class="btn btn-small light-blue darken-4 waves-effect waves-light">
                            <small>Update</small>
                        </a>
                    </div>
                    {% endif %}

                    <!-- Delete Button with Modal -->
                    <div class="col s12 m6 right-align" id="delete">
                        <a class="waves-effect waves-light btn btn-small modal-trigger red darken-4"
                            href="#deleteModal{{ travel_info._id }}">
                            <i class="material-icons">delete_forever</i>
                            <small>Delete</small>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Delete Modal -->
            <div id="deleteModal{{ travel_info._id }}" class="modal card-panel rounded white-text center p-5">
                <div class="modal-content rounded">
                    <h4 class="red-text text-darken-4">Caution</h4>
                    <p class="black-text">
                        Deleting this request will result in the loss of this data. Are you sure you want to delete it?
                    </p>
                </div>
                <div class="modal-footer">
                    <form method="POST" action="{{ url_for('newTravel') }}">
                        <input type="hidden" name="travel_info_id" value="{{ travel_info._id }}">
                        <button name="delete" class="modal-close btn red darken-4 m-2">
                            Confirm Delete
                        </button>
                        <a href="#" class="modal-close btn orange m-2">Cancel</a>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}