{% extends "base.html" %}
{% block content %}
    <div class="container page-container">
        <div class="row">
            <!-- Username heading -->
            <div class="col s12 m8 offset-m2">
                <div class="card-panel green darken-3">
                    <h3 class="center-align white-text text-darken-4">
                        Welcome to Experience Croatia <br> {{name}}
                    </h3>
                </div>
            </div>
        </div>
    </div>

{% endblock %}