{% extends "base.html" %}
{% block content %}

    <aside id="registerImage">
        <div class="row">
            <div class="col s12 regHeader">
                <h4 class="center"><b>Experience Croatia</b></h4>
                <br><br>
                <h6 class="center small"><b>Experience the wonderful culture, night life and the sunny life in Croatia <br> Register
                        to receive exclusive offers </b></h6>
            </div>
        </div>
        <div class="container page-container">
            <div class="row">
                <form class="card-panel custom-card lighten-5 col s12 m8 offset-m2 p5" id="regForm" method="POST"
                    action="{{ url_for('register') }}" aria-label="registration form">
                    <!-- signee name / username-->
                    <div class="row">
                        <div class="input-field col s12 m6 m-3">
                            <i class="fas fa-user prefix green-text text-darken-4"></i>
                            <input id="name" name="name" type="text" pattern="[A-Za-z ]{5,32}" class="validate" required
                                aria-required="true">
                            <label for="name" >Full Name</label>
                        </div>
                        <div class="input-field col s12 m6 m-3">
                            <i class="fas fa-user-plus prefix green-text text-darken-4"></i>
                            <input id="username" name="username" type="text" minlength="5" maxlength="15"
                                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required aria-required="true">
                            <label for="username">Username</label>
                            <small style="color: whitesmoke;">(Username must be less than 15 characters)</small>
                        </div>
                    </div>
                    <!-- Email / Mobile-->
                    <div class="row">
                        <div class="input-field col s12 m6 m-3">
                            <i class="fas fa-envelope prefix green-text text-darken-4"></i>
                            <input id="email" name="email" type="email" minlength="5" maxlength="100" class="validate" required
                                aria-required="true">
                            <label for="email">E-mail</label>
                        </div>
                        <div class="input-field col s12 m6 m-3">
                            <i class="fas fa-mobile prefix green-text text-darken-4"></i>
                            <input id="number" name="number" type="number" minlength="5" maxlength="15" class="validate" required
                                aria-required="true">
                            <label for="number">Mobile Number</label>
                        </div>
                    </div>
                    <!-- password /Confirm password  -->
                    <div class="row">
                        <div class="input-field col s12 m6 m-3">
                            <i class="fas fa-user-lock prefix green-text text-darken-4"></i>
                            <input id="password" name="password" type="password" minlength="8"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate" required aria-required="true">
                            <label for="password">Password</label>
                            <small style="color: whitesmoke;">(Must contain at least one number and one uppercase and lowercase letter, and at least 8 or
                                more characters)</small>
                        </div>
                        <div class="input-field col s12 m6 m-3">
                            <i class="fas fa-user-lock prefix green-text text-darken-4"></i>
                            <input id="confirm_password" name="confirm_password" type="password" minlength="8"
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate" required aria-required="true">
                            <label for="confirm_password">Confirm Password</label>
                            <small style="color: whitesmoke;">(Passwords must be the same)</small>
                        </div>
                    </div>
                    <br>
                    <!-- register -->
                    <div class="row">
                        <button type="submit" class="col s12 m2 offset-m5 p-5 btn-small green darken-3 center-align btnreg">
                            &nbsp;&nbsp;&nbsp;<b>REGISTER</b>
                        </button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align loginHere">
                <!-- If user does not have an account->Link to register page -->
                <p><b>ALREADY REGISTERED?....</b>&nbsp;&nbsp;
                    <a href="{{ url_for('register') }}"><b>LOG IN HERE</b></a>
                </p>
            </div>
        </div>
    </aside>
{% endblock %}
{% block javascript %}
<script>
    // allow users to toggle password visibility
    // https://www.w3schools.com/howto/howto_js_toggle_password.asp
    function togglePasswordVisibility(inputId, toggleIcon) {
        const inputField = document.getElementById(inputId);
        const icon = document.getElementById(toggleIcon);

        if (inputField.type === "password") {
            inputField.type = "text";
            icon.classList.add("green-text", "text-darken-4");
        } else {
            inputField.type = "password";
            icon.classList.remove("green-text", "text-darken-4");
        }
    }
</script>
{% endblock %}