{% extends "base.html" %}

{% block content %}
<!-- Container for the entire page -->

<aside id="registerImage">
    <!-- Centered Card -->
    <aside class="container flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <div class="col s12 m4">
                <h5>{{ message }}</h5>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </aside>
    <div class="card reg-card col s12 m8">
        <h4 class="highlight-text">Experience Pula, Croatia</h4>
        <h6 class="highlight-text">Experience the wonderful culture, nightlife, and the sunny life in Croatia. Register to receive exclusive offers.</h6>

        <!-- Registration Form -->
        <div class="card-content">
            <form id="regForm" method="POST" action="{{ url_for('register') }}" aria-label="registration form" onsubmit="return validateForm();">
                <div class="row">
                    <!-- Full Name / Username -->
                    <div class="input-field col s12 m4" style="margin-right: 20px;">
                        <i class="fas fa-user prefix green-text text-darken-4"></i>
                        <input id="name" name="name" type="text" pattern="[A-Za-z ]{5,32}" class="validate" required>
                        <label for="name">Full Name</label>
                    </div>
                    <div class="input-field col s12 m4" style=" margin-right: 20px; margin-bottom: 20px;">
                        <i class="fas fa-user-plus prefix green-text text-darken-4"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username </label>
                        <b><small style="color: rgb(23, 21, 21);">(Username must be less than 15
                            characters with no spaces)</small></b>
                    </div>
                    <div class="input-field col s12 m4" style="margin-right: 20px;">
                        <i class="fas fa-mobile prefix green-text text-darken-4"></i>
                        <input id="number" name="number" type="number" class="validate" required>
                        <label for="number">Mobile Number</label>
                    </div>
                </div>
                <div class="row">
                    <!-- Email / Mobile -->
                    <div class="input-field col s12 m4" style="margin-right: 20px; margin-bottom: 20px;">
                        <i class="fas fa-envelope prefix green-text text-darken-4"></i>
                        <input id="email" name="email" type="email" minlength="5" maxlength="100" class="validate" required>
                        <label for="email">E-mail</label>
                    </div>
                    <!-- Password / Confirm Password -->
                    <div class="input-field col s12 m4" style="margin-right: 20px;">
                        <i class="fas fa-user-lock prefix green-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="8" 
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate" required>
                        <label for="password">Password</label>
                        <i id="togglePassword" class="fas fa-eye green-text text-darken-4" 
                           onclick="togglePasswordVisibility('password', 'togglePassword')" 
                           style="cursor: pointer; position: absolute; right: 10px; top: 10px;"></i>
                        <b><small style="color: rgb(9, 9, 9);">(Must contain at least one number and one uppercase
                            and lowercase letter, and at least 8 or
                            more characters)</small></b>
                    </div>
                    
                    <div class="input-field col s12 m4" style="margin-right: 20px; margin-bottom: 20px;">
                        <i class="fas fa-user-lock prefix green-text text-darken-4"></i>
                        <input id="confirm_password" name="confirm_password" type="password" minlength="8" 
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="validate" required>
                        <label for="confirm_password">Confirm Password</label>
                        <i id="toggleConfirmPassword" class="fas fa-eye green-text text-darken-4" 
                           onclick="togglePasswordVisibility('confirm_password', 'toggleConfirmPassword')" 
                           style="cursor: pointer; position: absolute; right: 10px; top: 10px;"></i>
                    </div>                    
                </div>   
                <div class="col s12 center-align">
                    <button type="submit" class="btn green darken-3 white-text waves-effect waves-light">REGISTER</button>
                </div>           
            </form>
        </div>   
        <div class="row">
            <div class="col s12 center-align already-reg">
                <!-- Link to login page -->
                <p>ALREADY REGISTERED?....<a href="{{ url_for('login') }}" class="loginlink"><b>LOG IN HERE</b></a></p>
            </div>
        </div>
    </div>
</aside>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
{% endblock %}