{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 offset-m3 m6">
            <div class="thank-you-card card ">
                <div class="card-content">
                  <h1 class="card-title center-align">Thank You!</h1>
                  <p class="center-align">Your message has been sent successfully. We'll get back to you soon.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
