{% extends "base.html" %}
{% block content %}

<aside id="travelImage">
    <div class="row">
        <div class="col s12 offset-m2">
            <a href="{{ url_for('profile', username=session['user']) }}"
                class="btn btn-small icon-left waves-effect waves-light green darken-3 white-text text-lighten-4"><i
                    class="fas fa-hand-point-left white-text"></i><small>Back</small></a>
        </div>
    </div>
    <div class="container page-container">
        <div class="row">
            <form class="col s12 card-panel custom-card-travel" action="{{ url_for('travel_info') }}" method="POST"
                enctype="multipart/form-data" name="travel_info" onsubmit="return validateForm()">
                <div class="row">
                    <div class="col s12 center-align travelHeader">
                        <h5><b>Let's plan your dream getaway</b></h5>
                        <h6>Trip Request</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field outlined col s12 m4 m-3 custom-input">
                        <i class="fas fa-calendar-alt fa-lg prefix" style="color: #0b5606;"></i>
                        <input placeholder="Preferred Travel Dates" type="text" class="datepicker" id="travel_dates"
                            name="travel_dates" required>
                    </div>
                    <div class="input-field outlined col s12 m4 m-3">
                        <i class="fas fa-calendar-alt fa-lg prefix" style="color: #0b5606;"></i>
                        <select id="flexible_dates" name="flexible_dates" required>
                            <option value="" disabled selected>Flexible Dates?</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <div class="input-field outlined col s12 m4 m-3 m-3">
                        <i class="fas fa-plane-departure fa-lg prefix" style="color:#0b5606"></i>
                        <label for="flying_from">Preferred Departure Airport:</label>
                        <select id="flying_from" name="flying_from" required>
                            <option value="" disabled selected>Choose your airport</option>
                            {% for airport in airports %}
                            <option value="{{ airport['IATA'] }}">{{ airport['Name'] }} ({{ airport['IATA'] }})</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field outlined col s12 m2 m-3">
                        <i class="fas fa-male fa-lg prefix" style="color: #0b5606;"></i>
                        <input placeholder="Adults" id="number_adult_guests" name="number_adult_guests"
                            type="number" min="1" max="15" required>
                    </div>
                    <div class="input-field outlined col s12 m2 m-3">
                        <i class="fas fa-child fa-lg prefix" style="color: #0b5606;"></i>
                        <input placeholder="Children" id="number_kids_guests" name="number_kids_guests"
                            type="number" min="0" max="7" step=".5" required>
                    </div>
                    <div class="input-field outlined col s12 m4 m-3">
                        <i class="fas fa-hotel fa-lg prefix" style="color: #0b5606;"></i>
                        <select id="preferred_accom" name="preferred_accom" required>
                            <option value="" disabled selected>Accommodation</option>
                            <option value="hotel">Hotel</option>
                            <option value="hostel">Hostel</option>
                            <option value="resort">Resort</option>
                            <option value="apartment">Apartment</option>
                        </select>
                    </div>
                    <div class="input-field outlined col s12 m4 m-3">
                        <i class="fas fa-hotel fa-lg prefix" style="color: #0b5606;"></i>
                        <input placeholder="Number of Rooms" id="rooms" name="rooms" type="number" min="1" max="7"
                            step=".5" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field outlined col s12 m3 m-3">
                        <i class="fas fa-guitar fa-lg prefix" style="color: #0b5606;"></i>
                        <select id="concerts" name="concerts" required>
                            <option value="" disabled selected>Concerts</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <div class="input-field outlined col s12 m3 m-3">
                        <i class="fas fa-guitar fa-lg prefix" style="color: #0b5606;"></i>
                        <select id="water_sports" name="water_sports" required>
                            <option value="" disabled selected>Water Sports</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <div class="input-field outlined col s12 m3 m-3">
                        <i class="fas fa-envelope fa-lg prefix" style="color: #0b5606;"></i>
                        <input placeholder="Email" id="email" name="email" type="email" required>
                    </div>
                    <div class="input-field outlined col s12 m3 m-3">
                        <i class="fas fa-phone fa-lg prefix" style="color: #0b5606;"></i>
                        <input placeholder="Phone Number" id="phone" name="phone" type="tel" required>
                    </div>
                </div>
                <div class="row center">
                    <div class="col s12 m-3">
                        <button
                            class="btn btn-small rounded icon-left waves-effect waves-light green darken-3 orange-text text-lighten-4 m-2"
                            type="submit">
                            <i class="fas fa-plus-circle"></i><small>Send Request</small>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</aside>

{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
</script>
{% endblock %}